{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/essential", "eslint:recommended", "airbnb-base"],
  "rules": {
    "linebreak-style": 0
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
